# File managed by pluginsync
#
# NOTE: please commit OS/Editor specific settings in your .gitignore_global
# .idea
# .DS_Store
#
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Output of the go coverage tool
*.out
profile.cov

# we don't vendor godep _workspace
**/Godeps/_workspace/**
vendor/

# ignore build artifacts
build/

# Autotools build intermediates
*.la
*.lo
*.gcno
*.gcda
**/.deps
**/.dirstamp
**/.libs

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
googletest/testing/
include/
install-sh
lib/
libtool
ltmain.sh
missing
src/Makefile
src/Makefile.in
test/test_main
examples/bin/
examples/collector/src/test-collector-rando
examples/processor/src/test-processor-graffiti
examples/publisher/src/test-publisher-log
examples/streaming-collector/src/test-streaming-collector-rando

src/snap/rpc/plugin.grpc.pb.cc
src/snap/rpc/plugin.grpc.pb.h
src/snap/rpc/plugin.pb.cc
src/snap/rpc/plugin.pb.h
